<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haili.ucenter.dao.PermissionMapper">

	<insert id="savePermissions" parameterType="map">
		insert into tb_permission(
		id, role_id, menu_id
		) values
		<foreach collection="menuIds" item="mId" separator=",">
			(REPLACE(UUID(),"-",""), #{roleId},#{mId})
		</foreach>
	</insert>

</mapper>