<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haili.ucenter.dao.UserRoleMapper">

	<insert id="saveUserRole" parameterType="map">
		insert into tb_user_role(
		id, user_id, role_id
		) values
		<foreach collection="roleIds" item="mId" separator=",">
			(REPLACE(UUID(),"-",""), #{userId},#{mId})
		</foreach>
	</insert>

</mapper>