<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haili.ucenter.mapper.MenuMapper">
    <resultMap type="com.haili.framework.domain.ucenter.ext.MenuDTO" id="menuMap">
        <id property="code" column="menuCode" />
        <collection property="roles"  ofType="java.lang.String">
            <constructor>
                <arg column="roleCode"/>
            </constructor>
        </collection>
    </resultMap>
    <select id="findMenuList" resultMap="menuMap">
		SELECT
        tb_menu.`menu_code` `menuCode`,
        tb_role.role_code roleCode
        FROM
        tb_menu
        LEFT JOIN tb_permission ON tb_menu.id = tb_permission.menu_id
        LEFT JOIN tb_role ON tb_permission.role_id = tb_role.id
    </select>
</mapper>