<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.haili.ucenter.mapper.UserMapper">
    <resultMap type="com.haili.framework.domain.ucenter.ext.UserExt" id="userExtMap">
        <id property="id" column="userId"/>
        <result property="staffId" column="staffId"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="birthday" column="birthday"/>
        <result property="hiredate" column="hiredate"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="state" column="state"/>
        <result property="description" column="userDescription"/>
        <result property="department" column="department"/>
        <result property="position" column="position"/>
        <result property="line" column="line"/>
        <result property="createTime" column="userCreateTime"/>
        <result property="updateTime" column="userUpdateTime"/>
        <collection property="roleList" ofType="com.haili.framework.domain.ucenter.Role">
            <id property="id" column="roleId"/>
            <result property="roleName" column="roleName"/>
            <result property="roleCode" column="roleCode"/>
            <result property="description" column="description"/>
            <result property="status" column="roleStatus"/>
            <result property="createTime" column="roleCreateTime"/>
            <result property="updateTime" column="roleUpdateTime"/>
        </collection>
    </resultMap>
    <select id="findUserExtByUserName" resultMap="userExtMap" parameterType="java.lang.String">
		SELECT
		tb_user.id userId,
		tb_user.staff_id staffId,
		tb_user.username username,
		tb_user.password password,
		tb_user.name name,
		tb_user.sex sex,
		tb_user.avatar avatar,
		tb_user.birthday birthday,
		tb_user.hiredate hiredate,
		tb_user.phone phone,
		tb_user.email email,
		tb_user.state state,
		tb_user.description userDescription,
		tb_user.department department,
		tb_user.position position,
		tb_user.line line,
		tb_user.create_time userCreateTime,
		tb_user.update_time userUpdateTime,
    	tb_role.id roleId,
		tb_role.role_name roleName,
		tb_role.role_code roleCode,
		tb_role.description description,
		tb_role.status roleStatus,
		tb_role.create_time roleCreateTime,
		tb_role.update_time roleUpdateTime
        FROM
        tb_user
        LEFT JOIN tb_user_role ON tb_user.id = tb_user_role.user_id
        LEFT JOIN tb_role ON tb_user_role.role_id = tb_role.id
        WHERE  tb_user.username = #{username}
    </select>
</mapper>